:root {
  --container-spacing: 8px;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;

  .container {
    padding: var(--container-spacing);
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 1000px;

    &.fluid {
      max-width: 100% !important;
    }
  }
}
