@use 'sass:map';
@import '@/assets/styles/constants';

:root {
  --spacing: 8px;
}

// $sizes: 'xl', 'lg', 'md', 'sm', 'xs';
$sizes: 'xs', 'sm', 'md', 'lg', 'xl';
$queries: (
  'xl': $width-lg,
  'lg': $width-md,
  'md': $width-sm,
  'sm': $width-xs,
  'xs': 0,
);

.col {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: var(--spacing);
  align-items: stretch;
  justify-content: flex-start;

  &.fullfill {
    flex: 1 1 0%;
  }

  @mixin set-width($size, $number) {
    &-#{$size}-#{$number} {
      flex: 0 0 calc(100% * #{$number} / 12);
      max-width: calc(100% * #{$number} / 12);
    }
  }

  @each $size in $sizes {
    @for $i from 1 through 12 {
      @if $size == 'xs' {
        @include set-width($size, $i);
      } @else {
        @media screen and (width > map-get($queries, $size)) {
          @include set-width($size, $i);
        }
      }
    }
  }
}
